.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    button {
       width: 40px;
       height: 40px;
       font-family: inherit;
       font-weight: 600;
       font-size: 16px;
       margin: 0 10px;
       border-radius: 20px;
       border-color: transparent;
       cursor: pointer;
       transition: all 0.3s ease;
       background: #C42521;
       opacity: 60%;
       color: white;
    }
    img{
        cursor:pointer;
    }
    .disabled{
     opacity:50%;
     cursor:not-allowed;
    }
    .active {
        opacity: 100%;
    }
}

