.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem 0px;

    button {
       width: 20px;
       height: 20px;
       font-family: inherit;
       font-weight: 400;
       font-size: 10px;
       text-align: center;
       margin: 0 10px;
       border-radius: 20px;
       border-color: transparent;
       cursor: pointer;
       transition: all 0.3s ease;
       background: #C42521;
       opacity: 60%;
       color: white;
    }
    img{
        cursor:pointer;
    }
    .disabled{
     opacity:50%;
     cursor:not-allowed;
    }
    .active {
        opacity: 100%;
    }
}

