.home {
	color: white;
	display: flex;
	flex-direction: row;
	font-size: calc(1rem + 1.5vmin);
	justify-content: center;
	align-items: center;
	margin: 0;
	max-width: 100vw;
	height:100%;
	// overflow-y: scroll;

	.poster {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1 1 200px;
		width: 50vw;
		height: 70vh;
		text-decoration: none;
		color: white;
		text-transform: capitalize;
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			object-fit: cover;
			overflow: hidden;
		}
		.banner {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			background-color: #C42521;
			box-sizing: content-box;
			width: 100%;
			font-weight: 700;

			img {
				margin: 0;
				padding: 0;
				width: 70px;
				height: 70px;
			}
		}
	}
}
@media screen and (max-width: 1000px) {
	.home {
		flex-direction: column;
		.poster {
			width: 100%;
			font-size: 14px;
			overflow-y: auto;
            .banner{
                img {
                    width: 40px;
                    height: 40px;
                }
            }
		}
	}
}
