.home {
	color: white;
	display: flex;
	flex-direction: row;
	font-size: calc(1rem + 1.5vmin);
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin: 0;
	max-width: 100vw;
	text-align: center;

	.poster {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1 1 200px;
		border: 1px solid red;
		width: 50vw;
		height: 70vh;
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
            object-fit:cover  ;
            overflow: hidden;
		}
        .banner{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background-color: red;
            box-sizing: content-box;
            width:100%;
            font-weight: 700;
            text-decoration: none;
            color: white;
            img{
                margin: 0;
                padding: 0;
                width: 70px;
                height: 70px;
            }
        }
	}
}
